<!DOCTYPE html>
<html>
  <head>
    <title>Fran's blog</title>
  </head>
  <body>
    <header>
      <h1><a href="/">Django Girls Blog</a></h1>
    </header>
    <h2>Posts</h2>
    {% for post in posts %}
    <article>
      <h3><a href="">{{ post.title }}</a></h3>
      <time>published: {{ post.published_date }}</time>
      <p>{{ post.text|linebreaksbr }}</p>
    </article>
    {% endfor %}
    <h2>Comments</h2>
    {% for comment in comments %}
    <article>
      <h3><a href="">{{ comment.text }}</a></h3>
      <time>published: {{ comment.post_date }}</time>
    </article>
    {% endfor %}
    <h2>Tags</h2>
    {% for tag in tags %}
    <article>
      <h3><a href="">{{ tag.name }}</a></h3>
    </article>
    {% endfor %}
  </body>
</html>
